body {
  align-items: center;
  background-color: lightcoral;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#canvas-slider {
  background-color: white;
  border-radius: 30px;
  border: 1px solid #555;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  cursor: grab;
}